.App{
    width:500px;
    margin:40px auto;
    font-family:Arial;
}

form{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

input[type="text"]{
    flex:1;
    padding:10px;
}

button{
    padding:10px 15px;
    cursor:pointer;
}

div{
    margin-top:10px;
}